<div class="flex justify-between items-center px-1 py-4">
  <div class="font-bold text-2xl text-gray-800 font-roboto italic">Listes des factures</div>
  <div class="flex space-x-4">
    <button class="px-4 py-2 font-semibold bg-white text-lime-500 border-2 border-gray-300 text-sm rounded-md hover:bg-gray-500 hover:text-white" (click)="fileInput.click()">Télécharger</button>
    <input #fileInput type="file" (change)="addFacture()" style="display: none;" />
    <button (click)="showFactureForm = true" class="px-4 py-2 font-semibold bg-lime-500 text-white border-2 border-gray-300 text-sm rounded-md hover:bg-gray-500 hover:text-lime-500">Créer une facture</button>
  </div>
</div>

<div class="w-full flex justify-between items-center py-4 px-1">
  <div class="flex items-center space-x-2">
    <button class="flex items-center p-1 border rounded-md px-2">
      <i class="fas fa-search mr-2 text-gray-300"></i>
      <input type="text" placeholder="Rechercher..." class="p-1 flex-1 w-300"/>
    </button>
  </div>
  <div  class="flex space-x-2">
    <button class="p-2 border rounded-md hover:bg-gray-500 bg-black text-white">
      <i class="fas fa-envelope text-white"></i>
    </button>
    <button (click)="resetFilters()" class="p-2 border rounded-md hover:bg-gray-500 bg-black text-white">
      <i class="fas fa-arrow-left text-white"></i>
    </button>
    <button (click)="showFilterForm = true" class="p-2 border border-yellow-600 rounded-md bg-white hover:bg-gray-200 text-black">
      <i class="fas fa-filter mr-1 text-black"></i> filtres
    </button>
  </div>
</div>
<!-- <div *ngIf="isFormVisible" class="bg-orange-50 p-4 mt-12 rounded-lg shadow-md absolute top-0 left-1/2 transform -translate-x-1/2 w-[480px] h-[300px] flex flex-col justify-center items-center mx-auto text-left z-50"> -->

<div *ngIf="showFactureForm" class="fixed inset-0 bg-gray-800 bg-opacity-50 flex items-center absolute top-0 justify-center">
  <div class="bg-orange-50 p-6 rounded-lg shadow-lg w-full max-w-2xl mx-4 sm:mx-0">
    <div class="flex justify-between items-center mb-4">
      <h2 class="text-xl font-semibold text-gray-800">Créer une facture</h2>
      <button (click)="showFactureForm = false" class="text-gray-600 hover:text-gray-900 p-2">
        <i class="fas fa-times rounded-full bg-gray-200 p-1"></i>
      </button>
    </div>

    <form (ngSubmit)="addFacture()">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-4">
        <div>
          <label class="block text-gray-700 font-medium mb-1">Nom</label>
          <input type="text" [(ngModel)]="newFacture.nom" name="nom" placeholder="Nom du Proprietaire" class="w-full border border-gray-300 rounded-md p-2 focus:outline-none focus:ring-2 focus:ring-lime-500"/>
        </div>
        <div>
          <label class="block text-gray-700 font-medium mb-1">Numéro</label>
          <input type="text" [(ngModel)]="newFacture.numero" name="numero" placeholder="Numéro du Proprietaire" class="w-full border border-gray-300 rounded-md p-2 focus:outline-none focus:ring-2 focus:ring-lime-500"/>
        </div>
        <div>
          <label class="block text-gray-700 font-medium mb-1">Date</label>
          <input type="date" [(ngModel)]="newFacture.date" name="date" class="w-full border border-gray-300 rounded-md p-2 focus:outline-none focus:ring-2 focus:ring-lime-500"/>
        </div>
        <div>
          <label class="block text-gray-700 font-medium mb-1">État de la Facture</label>
          <select [(ngModel)]="newFacture.etat_facture" name="etat_facture" class="w-full border border-gray-300 rounded-md p-2 focus:outline-none focus:ring-2 focus:ring-lime-500">
            <option value="">Sélectionner l'état du facture</option>
            <option value="payee">Payée</option>
            <option value="impayee">Impayée</option>
            <option value="en_retard">En retard</option>
          </select>
        </div>
      </div>
      <div class="flex justify-end">
        <button type="submit" class="px-4 py-2 bg-lime-500 text-white rounded-md hover:bg-lime-600 focus:outline-none focus:ring-2 focus:ring-lime-500">Enregistrer</button>
      </div>
    </form>
  </div>
</div>

<div *ngIf="showFilterForm" class="fixed inset-0 bg-gray-800 bg-opacity-50 flex items-center justify-center">
  <div class="bg-white p-6 rounded-lg shadow-lg w-1/3">
    <h2 class="text-xl font-semibold mb-4">Filtrer</h2>
    <form (ngSubmit)="applyFilters()">
      <div class="mb-4">
        <h3 class="text-lg font-regular mb-3">Type de contact</h3>
        <div class="flex items-center space-x-4">
          <label class="flex items-center space-x-2">
            <input [(ngModel)]="etat_facture" name="etat_facture" type="radio" value="payee" class="form-radio"/>
            <span class="bg-sky-400 text-white py-1 px-4 rounded-md">Payée</span>
          </label>
          <label class="flex items-center space-x-2">
            <input [(ngModel)]="etat_facture" name="etat_facture" type="radio" value="impayee" class="form-radio"/>
            <span class="bg-green-400 py-1 px-4 text-white rounded-md">Impayée</span>
          </label>
          <label class="flex items-center space-x-2">
            <input [(ngModel)]="etat_facture" name="etat_facture" type="radio" value="en_retard" class="form-radio"/>
            <span class="bg-yellow-400 text-white py-1 px-4 rounded-md">En Retard</span>
          </label>
        </div>
      </div>
      <div class="grid grid-cols-4 gap-4 mt-25">
        <button type="submit" class="p-1 bg-lime-500 text-white rounded-full col-span-1">Appliquer</button>
        <button type="button" (click)="showFilterForm = false" class="px-4 py-2 bg-gray-300 text-gray-800 rounded-md hover:bg-lime-500">Annuler</button>
      </div>
    </form>
  </div>
</div>



<table class="w-full mt-4 border border-gray-300">
  <thead>
    <tr class="bg-gray-100 text-left">
      <th class="p-2"><input type="checkbox"/></th>
      <th class="p-2">Nom</th>
      <th class="p-2">Numéro</th>
      <th class="p-2">Date</th>
      <!-- <th class="p-2">Montant</th> -->
      <th class="p-2">Etat</th>
      <th class="p-2">Contact</th>
      <th class="p-2">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let facture of factures" class="border-t border-gray-300">
      <td class="p-2"><input type="checkbox"/></td>
      <td class="p-2">{{ facture.nom }}</td>
      <td class="p-2">{{ facture.numero }}</td>
      <td class="p-2">{{ facture.date | date }}</td>
      <!-- <td class="p-2">{{ facture.montant_total }}</td> -->
      <td class="p-2">{{ facture.etat_facture }}</td>
      <td class="p-2">
        <ng-container *ngIf="facture.factures_opportunites">
          <ng-container *ngFor="let fo of facture.factures_opportunites">
            <ng-container *ngIf="fo.opportunite.contact">
              {{ fo.opportunite.contact[0].prenom }} {{ fo.opportunite.contact[0].nom }}
            </ng-container>
          </ng-container>
        </ng-container>
      </td>
      <td class="p-2 flex space-x-2">
        <button 
          class="p-2 border bg-gray-200 rounded-md hover:bg-gray-300"
          (click)="showDetailFacture(facture.id)">
          <i class="fas fa-eye text-gray-500"></i>
        </button>
        <button 
          class="p-2 border bg-red-200 rounded-md hover:bg-red-300"
          (click)="deleteFacture(facture.id)">
          <i class="fas fa-trash text-red-500"></i>
        </button>
      </td>
    </tr>  
  </tbody>
</table>


<div class="flex justify-end mt-4">
  <button 
    class="p-2 bg-gray-200 rounded-md hover:bg-gray-300 disabled:opacity-50"
    (click)="previousPage()" 
    [disabled]="currentPage === 1">
    Précédent
  </button>
  <span class="mx-2 self-center">Page {{ currentPage }} sur {{ getTotalPages() }}</span>
  <button 
    class="p-2 bg-gray-200 rounded-md hover:bg-gray-300"
    (click)="nextPage()" 
    [disabled]="currentPage === getTotalPages()">
    Suivant
  </button>
</div>

        <!-- <div>
          <label class="block text-gray-700">Montant Total</label>
          <input type="number" [(ngModel)]="newFacture.montant_total" name="montant_total" placeholder="Montant total" class="w-full border border-gray-300 rounded-md p-2"/>
        </div> -->