<!-- <div class="opportunities-container relative">
  <div class="flex items-center justify-between mb-4 border-b border-gray-300 pb-1">
    <div class="flex items-center space-x-4">
      <button class="text-black font-semibold">
        <i class="fas fa-list mr-2"></i> Listes
      </button>
      <button class="text-black font-semibold">
        <i class="fas fa-user-friends mr-2"></i> Groupe
      </button>
      <button class="text-black font-semibold">
        <i class="fas fa-table mr-2"></i> Tableau
      </button>
    </div>
    <button class="text-white bg-lime-500 px-4 py-2 rounded-md hover:bg-bColor" (click)="openForm()">
      Créer une étape
    </button>
  </div>


  <div *ngIf="isFormVisible" class="bg-orange-50 p-4 mt-12 rounded-lg shadow-md absolute top-0 left-1/2 transform -translate-x-1/2 w-[480px] h-[300px] flex flex-col justify-center items-center mx-auto text-left z-50">

    <h2 class="text-xl font-medium mb-4 flex justify-start w-full font-sans" style="font-family: 'Open Sans', sans-serif;">Créer une étape du pipeline</h2>
    <div class="mb-4 w-full">
      <label for="stepName" class="block text-gray-700">Nom</label>
      <input id="stepName" type="text" class="w-full p-2 border border-gray-300 rounded-md" placeholder="Entrez le nom de l'étape" [(ngModel)]="etape_pipeline"/>
    </div>
    <div class="flex space-x-4 justify-start w-full">
      <button class="bg-bColor font-semibold text-black px-4 py-2 rounded-md hover:bg-lime-500" (click)="closeForm()">
        Annuler
      </button>
      <button class="bg-lime-500 font-semibold text-white px-4 py-2 rounded-md hover:bg-bColor" (click)="saveStep()">
        Enregistrer
      </button>
    </div>
  </div>


  <div *ngIf="isOpportunityFormVisible" class="bg-orange-50 p-4 mt-12 rounded-lg shadow-md absolute top-0 left-1/2 transform -translate-x-1/2 w-[480px] h-[510px] flex flex-col justify-center items-center mx-auto text-left z-50">
    <h2 class="text-xl font-medium mb-4 flex justify-start w-full font-sans" style="font-family: 'Open Sans', sans-serif;">Ajouter une opportunité</h2>
    <div class="mb-4 w-full">
      <label for="opportunityDescription" class="block text-gray-700">Description</label>
      <input id="opportunityDescription" type="text" class="w-full p-2 border border-gray-300 rounded-md" placeholder="Entrez la description de l'opportunité" [(ngModel)]="nom"/>
    </div>
    <div class="mb-4 w-full">
      <label for="opportunityDate" class="block text-gray-700">Date</label>
      <input id="opportunityDate" type="date" class="w-full p-2 border border-gray-300 rounded-md" [(ngModel)]="date"/>
    </div>
    <div class="mb-4 w-full">
      <label for="opportunityStatus" class="block text-gray-700">Statut</label>
      <select id="opportunityStatus" class="w-full p-2 border border-gray-300 rounded-md" [(ngModel)]="statut">
        <option *ngFor="let statut of statutOptions" [ngValue]="statut">{{ statut }}</option>
      </select>
    </div>
    <div class="mb-4 w-full">
      <label for="opportunityAmount" class="block text-gray-700">Montant</label>
      <input id="opportunityAmount" type="number" class="w-full p-2 border border-gray-300 rounded-md" placeholder="Entrez le montant de l'opportunité" [(ngModel)]="montant"/>
    </div>
    <div class="mb-4 w-full">
      <label for="opportunityPipeline" class="block text-gray-700">Pipeline</label>
      <select id="opportunityPipeline" class="w-full p-2 border border-gray-300 rounded-md" [(ngModel)]="selectedPipelineId">
        <option *ngFor="let pipeline of pipelines" [ngValue]="pipeline.id">{{ pipeline.etape_pipeline }}</option>
      </select>
    </div>
    <div class="flex space-x-4 justify-start w-full">
      <button class="bg-bColor font-semibold text-black px-4 py-2 rounded-md hover:bg-lime-500" (click)="closeOpportunityForm()">
        Annuler
      </button>
      <button class="bg-lime-500 font-semibold text-white px-4 py-2 rounded-md hover:bg-bColor" (click)="saveOpportunity()">
        Enregistrer
      </button>
    </div>
  </div>

  <div *ngIf="selectedOpportunite" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 z-50">
    <div class="bg-white p-6 rounded-lg shadow-lg w-[300px] h-[300px] flex flex-col justify-between">
      <h2 class="text-xl font-semibold mb-4 text-gray-800">
        Détails de l'opportunité : {{ selectedOpportunite.nom }}
      </h2>
      <div class="space-y-4">
        <div class="flex justify-between">
          <div class="flex flex-col w-1/2">
            <label class="text-black font-medium">Description</label>
            <p class="text-gray-800">{{ selectedOpportunite.nom }}</p>
          </div>
          <div class="flex flex-col w-1/2">
            <label class="text-black font-medium text-right">Date</label>
            <p class="text-gray-800 text-right">{{ selectedOpportunite.date }}</p>
          </div>
        </div>
        <div class="flex justify-between">
          <div class="flex flex-col w-1/2">
            <label class="text-black font-medium ">Statut</label>
            <p class="text-gray-800">{{ selectedOpportunite.statut }}</p>
          </div>
          <div class="flex flex-col w-1/2">
            <label class="text-black font-medium text-right">Montant</label>
            <p class="text-gray-800 text-right">{{ selectedOpportunite.montant }}$</p>
          </div>
        </div>
      </div>
      <div class="flex justify-end mt-4">
        <button class="bg-green-400 text-white px-4 py-2 rounded-md hover:bg-green-200 hover:text-black" (click)="closeDetailOpportuniteForm()">
          Fermer
        </button>
      </div>
    </div>
  </div>

<div *ngIf="isEditStepFormVisible" class="bg-orange-50 p-4 mt-12 rounded-lg shadow-md absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-[480px] h-[300px] flex flex-col justify-center items-center mx-auto text-left z-50">
  <h2 class="text-xl font-medium mb-4 flex justify-start w-full font-sans" style="font-family: 'Open Sans', sans-serif;">Modifier une étape du pipeline</h2>
  <div class="mb-4 w-full">
    <label for="editStepName" class="block text-gray-700">Nom</label>
    <input id="editStepName" type="text" class="w-full p-2 border border-gray-300 rounded-md" placeholder="Entrez le nom de l'étape" [(ngModel)]="stepToEdit.etape_pipeline"/>
  </div>
  <div class="flex space-x-4 justify-start w-full">
    <button class="bg-bColor font-semibold text-black px-4 py-2 rounded-md hover:bg-lime-500" (click)="closeEditStepForm()">
      Annuler
    </button>
    <button class="bg-lime-500 font-semibold text-white px-4 py-2 rounded-md hover:bg-bColor" (click)="saveEditedStep()">
      Enregistrer
    </button>
  </div>
</div>


  <div cdkDropListGroup class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
    <div *ngFor="let pipeline of pipelines" class="mt-5">
      <div class="bg-navbar rounded-lg shadow-md p-4">
        <div class="flex justify-between items-center mb-4">
          <h2 class="text-xl font-semibold text-white">{{ pipeline.etape_pipeline }}</h2>
          <div class="space-x-2 relative">
            <button class="text-md font-normal text-white" (click)="toggleIconsVisibility(pipeline.id)">
              <i class="fas fa-ellipsis-h"></i>
            </button>
            <div *ngIf="opportunitiesVisibility[pipeline.id]" class="absolute top-full right-0 mt-2 flex flex-col items-end bg-white p-2 rounded shadow-lg z-10">
              <div class="bg-white rounded-lg p-6 shadow-lg w-[200px] h-[250px]">
                <h3 class="text-lg font-semibold mb-4">Listes des actions</h3>
                <button (click)="deletePipeline(pipeline.id)" class="block mb-2 text-red-500">
                  <i class="fas fa-trash"></i> Supprimer
                </button>
                <button (click)="openUpdatePipelineForm(pipeline.id)" class="block mb-2 text-yellow-500">
                  <i class="fas fa-edit"></i> Modifier
                </button>
                <div class="mt-4">
                  <p class="font-medium">Modifier la couleur</p>
                  <div class="flex mt-2">
                    <button *ngFor="let color of colors" (click)="changeColor(pipeline.id, color)" [style.backgroundColor]="color" class="w-8 h-8 rounded-full mr-2"></button>
                  </div>
                  </div>
                </div>
                <button class="mt-4 w-full text-white bg-gray-400 py-2 rounded hover:bg-green-200 hover:text-black" (click)="closeEditStepForm()">Fermer</button>
              </div>
            <button class="text-md font-normal text-white" (click)="openAddOpportunityForm(pipeline.id)">
              <i class="fas fa-plus"></i>
            </button>
          </div>
        </div>
        <div *ngIf="getOpportunitesByPipelineId(pipeline.id).length > 0" cdkDropList [cdkDropListData]="pipeline.opportunites" (cdkDropListDropped)="drop($event)" class="p-4 bg-slate-300 rounded-md shadow-md mb-4 min-h-[50px] flex flex-col justify-center">
          <div *ngFor="let opportunite of getOpportunitesByPipelineId(pipeline.id)" class="p-4 bg-gray-100 rounded-md shadow-md mb-4 min-h-[50px] flex flex-col justify-center" cdkDrag>
            <div class="flex justify-between items-center relative">
              <div class="w-1/5">
                <div class="border-t-8 border-yellow-400 w-full mt-2 rounded-full"></div>
              </div>
              <button class="ml-2" (click)="toggleIconsVisibility(opportunite.id)">
                <i class="fas fa-plus-circle text-black"></i>
              </button>
              <div *ngIf="opportunitiesVisibility[opportunite.id]" class="absolute top-full right-0 mt-2 flex flex-col items-end animate__animated animate__bounce animate__backInDown">
                <button (click)="deleteOpportunite(opportunite.id)" class="mr-2 mb-1">
                  <i class="fas fa-trash text-red-500"></i>
                </button>
                <button (click)="openUpdateOpportunityForm(opportunite.id)" class="mr-2 mb-1">
                  <i class="fas fa-edit text-yellow-500"></i>
                </button>
                <button (click)="openDetailOpportuniteForm(opportunite.id)" class="mr-2">
                  <i class="fas fa-eye text-blue-500"></i>
                </button>
              </div>
            </div>
            <p class="font-medium text-black">{{ opportunite.nom }}</p>
            <p class="font-medium text-black">Statut: {{ opportunite.statut }}</p>
            <p class="font-medium text-black">Montant: {{ opportunite.montant }}$</p>
            <p class="font-medium text-black bg-yellow-400 p-1 rounded inline-flex items-center">
              <i class="fas fa-clock mr-2"></i>Date: {{ opportunite.date }}
            </p>
          </div>
        </div>
        <div *ngIf="getOpportunitesByPipelineId(pipeline.id).length === 0" class="p-4 bg-gray-100 rounded-md shadow-md mb-4 min-h-[50px] flex flex-col justify-center">
          <p class="text-gray-600">Aucune opportunité</p>
        </div>
        <div class="flex items-center mb-4">
        <button class="text-xs font-normal text-white mr-4" (click)="openAddOpportunityForm(pipeline.id)">
          <i class="fas fa-plus"></i>
        </button>
        <p class="font-medium text-white">Ajout opportunité</p>
      </div>
      </div>
    </div>
</div>
</div> -->


<div class="opportunities-container relative">
  <div class="flex items-center justify-between mb-4 border-b border-gray-300 pb-1">
    <div class="flex items-center space-x-4">
      <button class="text-black font-semibold">
        <i class="fas fa-list mr-2"></i> Listes
      </button>
      <button class="text-black font-semibold">
        <i class="fas fa-user-friends mr-2"></i> Groupe
      </button>
      <button class="text-black font-semibold">
        <i class="fas fa-table mr-2"></i> Tableau
      </button>
    </div>  
    <button class="text-white bg-lime-500 px-4 py-2 rounded-md hover:bg-bColor" (click)="openForm()">
      Créer une étape
    </button>
  </div>

  <!-- Form for creating a pipeline step -->
  <div *ngIf="isFormVisible" class="bg-orange-50 p-4 mt-12 rounded-lg shadow-md absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-[480px] h-[300px] flex flex-col justify-center items-center mx-auto text-left z-50">
    <h2 class="text-xl font-medium mb-4 flex justify-start w-full font-sans" style="font-family: 'Open Sans', sans-serif;">Créer une étape du pipeline</h2>
    <div class="mb-4 w-full">
      <label for="stepName" class="block text-gray-700">Nom</label>
      <input id="stepName" type="text" class="w-full p-2 border border-gray-300 rounded-md" placeholder="Entrez le nom de l'étape" [(ngModel)]="etape_pipeline"/>
    </div>
    <div class="flex space-x-4 justify-start w-full">
      <button class="bg-bColor font-semibold text-black px-4 py-2 rounded-md hover:bg-lime-500" (click)="closeForm()">
        Annuler
      </button>
      <button class="bg-lime-500 font-semibold text-white px-4 py-2 rounded-md hover:bg-bColor" (click)="saveStep()">
        Enregistrer
      </button>
    </div>
  </div>

  
  <div *ngIf="isOpportunityFormVisible" class="bg-orange-50 p-4 mt-12 rounded-lg shadow-md absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-[480px] h-[510px] flex flex-col justify-center items-center mx-auto text-left z-50">
    <h2 class="text-xl font-medium mb-4 flex justify-start w-full font-sans" style="font-family: 'Open Sans', sans-serif;">Ajouter une opportunité</h2>
    <div class="mb-4 w-full">
      <label for="opportunityDescription" class="block text-gray-700">Description</label>
      <input id="opportunityDescription" type="text" class="w-full p-2 border border-gray-300 rounded-md" placeholder="Entrez la description de l'opportunité" [(ngModel)]="nom"/>
    </div>
    <div class="mb-4 w-full">
      <label for="opportunityDate" class="block text-gray-700">Date</label>
      <input id="opportunityDate" type="date" class="w-full p-2 border border-gray-300 rounded-md" [(ngModel)]="date"/>
    </div>
    <div class="mb-4 w-full">
      <label for="opportunityStatus" class="block text-gray-700">Statut</label>
      <select id="opportunityStatus" class="w-full p-2 border border-gray-300 rounded-md" [(ngModel)]="statut">
        <option *ngFor="let statut of statutOptions" [ngValue]="statut">{{ statut }}</option>
      </select>
    </div>
    <div class="mb-4 w-full">
      <label for="opportunityAmount" class="block text-gray-700">Montant</label>
      <input id="opportunityAmount" type="number" class="w-full p-2 border border-gray-300 rounded-md" placeholder="Entrez le montant de l'opportunité" [(ngModel)]="montant"/>
    </div>
    <div class="mb-4 w-full">
      <label for="opportunityPipeline" class="block text-gray-700">Pipeline</label>
      <select id="opportunityPipeline" class="w-full p-2 border border-gray-300 rounded-md" [(ngModel)]="selectedPipelineId">
        <option *ngFor="let pipeline of pipelines" [ngValue]="pipeline.id">{{ pipeline.etape_pipeline }}</option>
      </select>
    </div>
    <div class="flex space-x-4 justify-start w-full">
      <button class="bg-bColor font-semibold text-black px-4 py-2 rounded-md hover:bg-lime-500" (click)="closeOpportunityForm()">
        Annuler
      </button>
      <button class="bg-lime-500 font-semibold text-white px-4 py-2 rounded-md hover:bg-bColor" (click)="saveOpportunity()">
        Enregistrer
      </button>
    </div>
  </div>

  <!-- Modal details opportunites  -->
  <div *ngIf="selectedOpportunite" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 z-50">
    <div class="bg-white p-6 rounded-lg shadow-lg w-[350px] h-[500px] flex flex-col justify-between">
      <h2 class="text-xl font-semibold mb-4 text-gray-800">
        Détails de l'opportunité : {{ selectedOpportunite.nom }}
      </h2>
      <div class="space-y-4 flex-grow">
        <div class="flex justify-between">
          <div class="flex flex-col w-1/2">
            <label class="text-black font-medium">Description</label>
            <p class="text-gray-800">{{ selectedOpportunite.nom }}</p>
          </div>
          <div class="flex flex-col w-1/2">
            <label class="text-black font-medium text-right">Date</label>
            <p class="text-gray-800 text-right">{{ selectedOpportunite.date }}</p>
          </div>
        </div>
        <div class="flex justify-between">
          <div class="flex flex-col w-1/2">
            <label class="text-black font-medium">Statut</label>
            <p class="text-gray-800">{{ selectedOpportunite.statut }}</p>
          </div>
          <div class="flex flex-col w-1/2">
            <label class="text-black font-medium text-right">Montant</label>
            <p class="text-gray-800 text-right">{{ selectedOpportunite.montant }}$</p>
          </div>
        </div>
        <div>
          <label class="text-black font-medium">Contacts associés :</label>
          <ul class="text-gray-800 list-disc list-inside">
            <li *ngFor="let contacts of selectedOpportunite.contact">
              {{ contacts.prenom }} {{ contacts.nom }}
            </li>
          </ul>
        </div>
      </div>
      <div class="flex justify-end mt-4">
        <button class="bg-green-400 text-white px-4 py-2 rounded-md hover:bg-green-200 hover:text-black" (click)="closeDetailOpportuniteForm()">
          Fermer
        </button>
      </div>
    </div>
  </div>
  
  
  

  <!-- Form for editing a pipeline step -->
<div *ngIf="isEditStepFormVisible" class="bg-orange-50 p-4 mt-12 rounded-lg shadow-md absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-[480px] h-[300px] flex flex-col justify-center items-center mx-auto text-left z-50">
  <h2 class="text-xl font-medium mb-4 flex justify-start w-full font-sans" style="font-family: 'Open Sans', sans-serif;">Modifier une étape du pipeline</h2>
  <div class="mb-4 w-full">
    <label for="editStepName" class="block text-gray-700">Nom</label>
    <input id="editStepName" type="text" class="w-full p-2 border border-gray-300 rounded-md" placeholder="Entrez le nom de l'étape" [(ngModel)]="stepToEdit.etape_pipeline"/>
  </div>
  <div class="flex space-x-4 justify-start w-full">
    <button class="bg-bColor font-semibold text-black px-4 py-2 rounded-md hover:bg-lime-500" (click)="closeEditStepForm()">
      Annuler
    </button>
    <button class="bg-lime-500 font-semibold text-white px-4 py-2 rounded-md hover:bg-bColor" (click)="saveEditedStep()">
      Enregistrer
    </button>
  </div>
</div>


  <!-- class="pipeline-container" class="pipeline-item" -->
  <!-- Display pipeline steps -->
  <div cdkDropListGroup  cdkDropList [cdkDropListData]="pipelines" (cdkDropListDropped)="onDropPipeline($event)"class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4">
    <div *ngFor="let pipeline of pipelines" cdkDrag [attr.data-pipeline-id]="pipeline.id" class="mt-5">
      <div class="bg-navbar rounded-lg shadow-md p-4" [attr.data-pipeline-id]="pipeline.id">
        <div class="flex justify-between items-center mb-4">
          <h2 class="text-xl font-semibold text-white">{{ pipeline.etape_pipeline }}</h2>
          <div class="space-x-2 relative">
            <button class="text-md font-normal text-white" (click)="toggleIconsVisibility(pipeline.id)">
              <i class="fas fa-ellipsis-h"></i>
            </button>
            <div *ngIf="opportunitiesVisibility[pipeline.id]" class="absolute top-full right-0 mt-2 flex flex-col items-end bg-white p-2 rounded shadow-lg z-10">
              <div class="bg-white rounded-lg p-6 shadow-lg w-[220px] h-[280px]">
                <h3 class="text-lg font-semibold mb-4">Listes des actions</h3>
                <button (click)="deletePipeline(pipeline.id)" class="block mb-2 text-red-500">
                  <i class="fas fa-trash"></i> Supprimer
                </button>
                <button (click)="openUpdatePipelineForm(pipeline.id)" class="block mb-2 text-yellow-500">
                  <i class="fas fa-edit"></i> Modifier
                </button>
                <div class="mt-4">
                  <p class="font-medium">Modifier la couleur</p>
                  <div class="flex mt-2">
                    <button *ngFor="let color of colors" (click)="changeColor(pipeline.id, color)" [style.backgroundColor]="color" [class.selected]="selectedColor[pipeline.id] === color" class="w-8 h-8 rounded-full mr-2"></button>
                  </div>
                </div>
                <button class="mt-4 w-full text-white bg-gray-400 py-2 rounded hover:bg-gray-600 hover:text-white" (click)="SaveColor(pipeline.id)">Changer</button>
              </div>
            </div>
            <button class="text-md font-normal text-white" (click)="openAddOpportunityForm(pipeline.id)">
              <i class="fas fa-plus"></i>
            </button>
          </div>
        </div>
        <div *ngIf="getOpportunitesByPipelineId(pipeline.id).length > 0" 
             cdkDropList 
             [cdkDropListData]="getOpportunitesByPipelineId(pipeline.id)" 
             (cdkDropListDropped)="drop($event)" 
             class="p-4 bg-slate-300 rounded-md shadow-md mb-4 min-h-[50px] flex flex-col justify-center" 
             [attr.data-pipeline-id]="pipeline.id">
          <div *ngFor="let opportunite of getOpportunitesByPipelineId(pipeline.id)" 
               cdkDrag 
               [cdkDragData]="opportunite" 
               class="p-4 bg-gray-100 rounded-md shadow-md mb-4 min-h-[50px] flex flex-col justify-center">
            <div class="flex justify-between items-center relative">
              <div class="w-1/5">
                <div class="border-t-8 border-yellow-400 w-full mt-2 rounded-full"></div>
              </div>

              <button class="ml-2" (click)="toggleIconsVisibility(opportunite.id)">
                <i class="fas fa-plus-circle text-black"></i>
              </button>
              <div *ngIf="opportunitiesVisibility[opportunite.id]" class="absolute top-full right-0 mt-2 flex flex-col items-end animate__animated animate__bounce animate__backInDown ">
                <div class="border-l-4 border-gray-300 flex flex-col items-end bg-orange-50 shadow-lg p-2 rounded-full">
                <button (click)="deleteOpportunite(opportunite.id)" class="mr-2 mb-1">
                  <i class="fas fa-trash text-red-500"></i>
                  
                </button>
                <button (click)="openUpdateOpportunityForm(opportunite.id)" class="mr-2 mb-1">
                  <i class="fas fa-edit text-yellow-500"></i>
                </button>
                <button (click)="selectOpportunite(opportunite.id)" class="mr-2 mb-1">
                  <i class="fas fa-eye text-blue-500"></i>
                </button>

                <button (click)="openAssociateContactsForm(opportunite.id)" class="mr-2">
                  <i class="fas fa-user-plus text-gray-500 text-xl"></i>
                </button>

              </div>
                
              </div>
            </div>
            <p class="font-medium text-black">{{ opportunite.nom }}</p>
            <p class="font-medium text-black">Statut: {{ opportunite.statut }}</p>
            <p class="font-medium text-black">Montant: {{ opportunite.montant }}$</p>
            <p class="font-medium text-black bg-yellow-400 p-1 rounded inline-flex items-center">
              <i class="fas fa-clock mr-2"></i>Date: {{ opportunite.date }}
            </p>
          </div>
        </div>
        <div *ngIf="getOpportunitesByPipelineId(pipeline.id).length === 0" class="p-4 bg-gray-100 rounded-md shadow-md mb-4 min-h-[50px] flex flex-col justify-center">
          <p class="text-gray-600">Aucune opportunité</p>
        </div>
        <div class="flex items-center mb-4">
          <button class="text-xs font-normal text-white mr-4" (click)="openAddOpportunityForm(pipeline.id)">
            <i class="fas fa-plus"></i>
          </button>
          <p class="font-medium text-white">Ajout opportunité</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal pour associer les contacts -->
<div *ngIf="isAssociateContactsFormVisible" class="fixed inset-0 flex items-center justify-center bg-gray-900 bg-opacity-50">
  <div class="bg-white p-6 rounded-lg shadow-lg w-1/4">
    <h3 class="text-lg font-semibold mb-4">Associer Contacts à l'Opportunité</h3>
    <div class="mb-4">
      <label class="block mb-2 font-medium">Sélectionner les Contacts</label>
      <div *ngFor="let contact of contact">
        <input type="checkbox" [value]="contact.id" (change)="onContactSelect($event)" /> {{ contact.prenom }} {{ contact.nom }}
      </div>
    </div>
    <div class="flex justify-end">
      <button (click)="associateContacts()" class="bg-green-500 text-white px-4 py-2 rounded hover:bg-green-700">
        Associer
      </button>
      <button (click)="isAssociateContactsFormVisible = false" class="bg-red-500 text-white px-4 py-2 rounded ml-2 hover:bg-red-700">
        Annuler
      </button>
    </div>
  </div>
</div>
</div>