.transition-width {
  transition: width 0.3s;
}

.toggle-icon {
  transition: transform 0.3s ease;
}

button:hover .toggle-icon {
  transform: rotate(90deg);
}

.flex-1 {
  overflow: auto;
}

:host {
  z-index: 100; /* Pour s'assurer que le sidebar reste au-dessus des autres éléments si nécessaire */
}
